header {
    background-color: #E8F2FE;
    padding: 0;
    position: relative;
    text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #E8F2FE;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  font-size: 25px;
  color: black;
  text-align: center;
  padding: 1px 9px;
  text-decoration: none;
  display: inline-block;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #9BBAF5;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h2, p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#filters {
    background-color: #F5F5F5;
    padding: 20px;
    width: 20%;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78%;
}

#books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.book {
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.book img {
    max-width: 100%;
    height: auto;
    width: 110px;
    margin-top: 10px;
}

.book h2 {
  font-size: 18px;
  margin: 10px 0;
}

footer {
    background-color: #E8F2FE;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
    clear: both;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
    color: inherit; 
}

.bookProfile {
  display: flex;
  align-items: center;
}

.bookCover {
  flex: 1; 
  margin: 50px;
}

.bookCover img {
  max-width: 100%;
  height: auto;
  width: 100%; 
}

.bookDetails {
  flex: 2; 
  padding: 20px; 
  text-align: left; 
}

#bookTitle {
  font-size: 40px; 
}

#bookPrice {
  font-size: 24px; 
}

#bookBlurb {
  font-size: 20px; 
}

.container {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.starRating {
  unicode-bidi: bidi-override;
  text-align: center;
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

.login-container {
  width: 350px;
  margin-bottom: 70px;
  margin-top: 100px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
}
.login-container h2 {
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
  margin-right: 20px;
}
.form-group label {
  display: block;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hide {
  display: none;
}

.shoppingCart {
  position: relative;
  top: 10px;
  right: 10px;
}

#cartIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}

.cartPanel {
  position: fixed;
  top: 0;
  right: -400px; 
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow-y: auto;
  transition: right 0.3s;
}

.cart-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  text-align: center;
}

.cart-item-price {
  font-weight: bold;
  margin-left: 5px;
}

.button-container {
  text-align: center; 
  margin-bottom: 20px;
}

#addToCartButton {
  background-color: #fff; 
  color: black; 
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
  text-align: center; 
  margin-left: 462px;
}

#addToCartButton:hover {
  background-color: grey; 
}

.cart-item-cover {
  width: 20px; 
  height: auto; 
  margin-right: 10px; 
}

.delete-button {
  background-color: #fff; 
  color: #ff0000; 
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20%; 
}

.close-panel-button {
  z-index: 1 !important;
  background-color: #fff; 
  color: black; 
  border: none;
  padding: 0px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border-radius: 20%; 
  top: 10px;
  left: 10px;
  margin-bottom: 0px;
  margin-left: 15px;
}